html {
    margin: 50px;
}

body {
    padding-bottom: 50px;
}

.page-content{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

h1 {
    font-size: 45px;
    font-family: 'Poppins';
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 2px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-bottom: 20px;
}

.play-button{
    display: block;
    background-color: #e3dffc;
    width: 200px;
    height: 40px;
    line-height: 25px;
    font-size: 13px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

.play-button span{
    position: relative;
    z-index: 2;
}
  

.play-button:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #583FFC;
    transition: all .35s;
  }


.play-button:hover{
    color: #fff;
}

.play-button:hover:after{
    width: 100%;
  }