h1 {
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: 200;
    padding-left: 20px;
    padding-right: 20px;
}

.content-container {
    padding-left: 20px;
    padding-bottom: 40px;
}